---
---

@import "{{ site.theme }}";

/* Accent colour */
a {
  color: #color: #245c63; /* deep blue-green */;
}

a:hover,
a:focus {
  color: #74352b;
}

/* Optional: headings */
h1,
h2,
h3 {
  color: #333333;
}
